.DS_Store
__pycache__
.idea/
.idea/image_and_video_understanding-project.iml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml